@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
:root {
  --black: #000000;
  --white: #fff;
  --glass: rgb(255, 255, 255, 0.1);
  --main: #E85C0D;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #000e23;
}
.bg-glass {
  background: var(--glass);
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}